.flex-container {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: relative; */
}

.flex-item {
    margin: auto;
    margin-top: 10%;
}